<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Здравствуйте, <%= @user.first_name %></h1>
<p>
  Ваша петиция "<%= @petition.name %>" собрала <%= @petition.votes.count %> голосов и будет рассмотрена
</p>
</body>
</html>


