<h1>Все петиции</h1>
<table>
  <tr>
    <th>Петиция</th>
    <th>Автор</th>
  </tr>

  <% @petitions.each do |petition| %>
      <tr>
        <td><%= petition.title %></td>
        <td><%= petition.author %></td>
        <td><%= link_to 'Просмотр', petition_path(petition) %></td>
      </tr>
  <% end %>
</table>