<h1> Петиция № <%= @petition.id %></h1>
<p>
  <strong>Название:</strong>
  <%= @petition.title %>
</p>

<p>
  <strong>Описание:</strong>
  <%= @petition.text %>
</p>

<p>
  <strong>Автор:</strong>
  <%= @petition.author %>
</p>